body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    color: white;
    font-family: Dubai, sans-serif;
    font-size: clamp(2rem, 8vw, 50px);
    margin-left: 10px;
    margin-right: 10px;
}

#bottomEdge {
    animation: boxOutline2 1s infinite;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    outline: white 3px solid;
}

#topEdge {
    animation: boxOutline2 1s infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    outline: white 3px solid;
}

#leftEdge2 {
    animation: boxOutline2 1s infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110vh;
    width: 10vw;
    outline: white 3px solid;
}

#rightEdge2 {
    animation: boxOutline2 1s infinite;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 110vh;
    width: 10vw;
    outline: white 3px solid;
}

#innerBox {
    animation: boxOutline2 1s infinite;
    position: absolute;
    top: 25vh;
    left: 20vw;
    height: 50vh;
    width: 60vw;
    outline: white 3px solid;
}

#box {
    position: absolute;
    outline: white 3px solid;
    outline-offset: 20px;
    animation: boxOutline 2s infinite;
    z-index: 99 !important;
}

@keyframes boxOutline2 {
    0% {
        outline: white 3px solid;
    }
    50% {
        outline: white 3px dotted;
    }
    100% {
        outline: white 3px dashed;
    }
}

@keyframes boxOutline {
    10% {
        outline-offset: 10px;
        outline: wheat 3px dashed;
    }
    20% {
        outline-offset: 20px;
        outline: white 3px dotted;
    }
    30% {
        outline-offset: 30px;
        outline: wheat 3px dashed;
    }
    40% {
        outline-offset: 40px;
        outline: white 3px dotted;
    }
    50% {
        outline-offset: 50px;
        outline: wheat 3px dashed;
    }
    60% {
        outline-offset: 60px;
        outline: white 3px dotted;
    }
    70% {
        outline-offset: 50px;
        outline: wheat 3px dashed;
    }
    80% {
        outline-offset: 30px;
        outline: white 3px dotted;
    }
    90% {
        outline-offset: 20px;
        outline: wheat 3px dashed;
    }
    100% {
        outline-offset: 10px;
        outline: white 3px dotted;
    }
}

#box:hover {
    animation: outlineLUL 1s infinite;
    animation-delay: 1.5s;
}

@keyframes outlineLUL {
    0% {
        outline-offset: 10px;
        outline: white 3px solid;
    }
    25% {
        outline-offset: 5px;
        outline: deeppink 3px dotted;
    }
    50% {
        outline-offset: 15px;
        outline: blue 3px double;
    }
    75% {
        outline-offset: 5px;
        outline: deeppink 3px dotted;
    }
    100% {
        outline-offset: 10px;
        outline: blue 3px dotted;
    }
}

@keyframes outlineLUL2 {
    25% {
        outline-offset: 5px;
        outline: deeppink 3px dotted;
    }
    50% {
        outline-offset: 10px;
        outline: blue 3px double;
    }
    75% {
        outline-offset: 5px;
        outline: deeppink 3px dotted;
    }
    100% {
        outline-offset: 0;
        outline: blue 3px dotted;
    }
}

#box:hover h1 {
    animation: rgb 0.5s infinite;
    animation-delay: 1.5s;
}

#box:hover .letter {
    animation: fadeOut 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    outline-offset: 10px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#box span {
    display: inline-block;
    padding: 0;
}

.space {
    margin-left: 10px;
}

#box:hover span:nth-child(4) {
    animation: rotateAway 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#box:hover span:nth-child(7) {
    animation: rotateAway 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#box:hover span:nth-child(10) {
    animation: rotateAway2 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes rotateAway2 {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(0%, 140px);
    }
}

#box:hover span:nth-child(15) {
animation: rotateAway3 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes rotateAway3 {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-55px, 140px);
    }
}

#box:hover span:nth-child(8) {
    animation: rotateAway4 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes rotateAway4 {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(130px, 140px);
    }
}

#box:hover span:nth-child(19) {
    animation: rotateAway5 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes rotateAway5 {
    from {
        transform: translate(0%, 0%) rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: translate(-35px, 150px) rotate3d(180, 0, 0, 180deg);
    }
}

#box:hover span:nth-child(11) {
    animation: rotateAway6 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes rotateAway6 {
    from {
        transform: translate(0%, 0%) rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: translate(170px, 140px);
    }
}

#box:hover span:nth-child(12) {
    animation: rotateAway7 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes rotateAway7 {
    from {
        transform: translate(0%, 0%) rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: translate(200px, 140px);
    }
}

@keyframes rotateAway {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(0%, -120px);
    }
}

@keyframes rgb {
    0% {
        color: deeppink;
    }
    25% {
        color: yellow;
    }
    50% {
        color: greenyellow;
    }
    75% {
        color: deepskyblue;
    }
    100% {
        color: red;
    }
}

#box:hover ~ #innerBox {
    animation: outlineLUL2 1s infinite;
    animation-delay: 1.5s;
}

#box:hover ~ #rightEdge2 {
    animation: outlineLUL2 1s infinite;
    animation-delay: 1.5s;
}

#box:hover ~ #leftEdge2 {
    animation: outlineLUL2 1s infinite;
    animation-delay: 1.5s;
}

#box:hover ~ #bottomEdge {
    animation: outlineLUL2 1s infinite;
    animation-delay: 1.5s;
}

#box:hover ~ #topEdge {
    animation: outlineLUL2 1s infinite;
    animation-delay: 1.5s;
}